.top-bar{
    color: white; 
    background: black; 
    height: 5rem; 
    text-align: center;
    width: 100%;
    font-size: 4rem;
}

.table-area{
    padding-top: 5rem;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

  th, td {
    padding: 5px;
    text-align: left;
}

