<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../style/style.css">
    <link rel="stylesheet" type="text/css" href="../style/formStyle.css">

    <script src="../js/restFul.js"></script>

</head>
<body onload="loadAllData()">
    <!-- Top bar-->
    <div class="top-bar" >
        <span >LIVRARIA</span>
    </div>

    <!-- Content -->
    <div id="table-area" class="table-area">
        <div style="display: flex;">
            <div style="float:right"><input type="button" onclick="loadAddFormTemplate()" value="Adicionar Livro"></div>
        </div>
        <table>
            <caption><h3>Livros a venda</h3></caption>
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Autor</th>
                    <th>ISBN</th>
                    <th>Editora</th>
                    <th>Edição</th>
                    <th>Preço</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="content-row">
            
            </tbody>
        </table>
    </div>

    <form name="form-add" id="form-add" class="form-add" width="100%;" >
        <fieldset>
            <legend><h4>Cadastrar/Editar Livro:</h4></legend>
    
        <div>
            <label for="autor">Autor</label>
            <input required type="text" name="autor" id="autor">
        </div>
        
        <div>
            <label for="titulo">Titulo</label>
            <input required type="text" name="titulo" id="titulo">
        </div>
    
        <div>
            <label for="isbn">ISBN</label>
            <input required  type="text" name="isbn" id="isbn">    
        </div>
    
        <div>
            <label for="preco">Preço</label>
            <input required type="text" name="preco" id="preco">
        </div>
    
        <div>
            <label for="edicao">Edição</label>
            <input required type="text" name="edicao" id="edicao">
        </div>

        <div>
            <label for="editora">Editora</label>
            <input required type="text" name="editora" id="editora">
        </div>
    
        <input type="button" onclick="insertData()" value="Adicionar">
        <input type="button" value="Cancelar" onclick="cancelarAdicionar();">

        </fieldset>
    </form>


</body>

</html>