<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../style/style.css">
    <script src="../js/restFul.js"></script>

</head>
<body onload="loadAllData()">
    <!-- Top bar-->
    <div class="top-bar" >
        <span >LIVRARIA</span>
    </div>

    <!-- Content -->
    <div class="table-area">
        <div style="display: flex;">
            <div style="float:left"><span>Livros a venda</span></div>
            <div style="float:right"><input type="button" value="Adicionar"></div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Autor</th>
                    <th>ISBN</th>
                    <th>Editora</th>
                    <th>Edição</th>
                    <th>Preço</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Djalma
                    </td>
                    <td>
                        sjdjsad
                    </td>
                    <td>
                        3
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <input type="button" value="Editar">
                        <input type="button" value="Excluir">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>